<main class="bg-[#69a2a8] h-full w-full overflow-y-auto">
  <div class="p-10 text-white">
    <img src="./assets/logo-home.svg" alt="" class="h-10" />
    <div class="flex flex-wrap gap-20 p-10">
      <section class="flex-1">
        <h1 class="text-7xl font-bold mt-20">
          Leve a felicidade para o seu lar
        </h1>
        <p class="mt-10 text-2xl w-96">
          Encontre o animal de estimação ideal para seu estilo de vida!
        </p>
      </section>

      <section class="flex flex-col gap-10">
        <div>
          <img src="./assets/img-home.svg" class="w-[544px]" alt="" />
        </div>

        <div class="flex items-center justify-center">
          <a
            class="bg-[#F19474] text-center font-bold px-6 py-3 rounded-xl hover:bg-[#E58C6E] cursor-pointer"
            >Encontre seu animal</a
          >
        </div>
      </section>
    </div>
  </div>
</main>
